@import 'core';

.container {
  overflow: hidden;
  position: relative;
  // padding-top: 80px;
  min-height: 100vh;
  @include flex-col;
  @include media($SCREEN_TABLET_SMALL) {
    // padding-top: 60px;
  }
}

.inner {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.nav {
  width: 100%;
  pointer-events: auto;
  background-color: $MAIN_COLOR;
  @include media($SCREEN_TABLET_SMALL) {
    width: initial;
  }
}

.top {
  z-index: 1;
  width: 100%;
  // position: fixed;
  top: 0;
  left: 0;
  padding: 12px;
  background-color: $MOCCA;
  // box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.headerContainer {
  @include flex-col(center, center);
}

.logo {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-bottom: 40px;
  @include media($SCREEN_TABLET_LARGE) {
    margin: 0 32px 40px;
  }
}

.address {
  @include text(rem(14px), 500, $MAIN_COLOR);
  margin: 0 12px;
  line-height: 130%;
  margin-bottom: 8px;
  @include media($SCREEN_TABLET_LARGE) {
    font-size: rem(16px);
  }
}

.main {
  flex-grow: 1;
  padding: 16px 0;
  margin-bottom: 50px;
}

.buttonWrapper {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  @include flex-col(flex-start, center);
}

.mainContainer {
  @include flex-col;
}

.button {
  min-width: 290px;
  align-self: center;
  pointer-events: auto;
}

.list {
  width: 100%;
  max-width: 600px;
  align-self: center;
  padding: 40px;
  margin-bottom: 50px;
  border-width: 4px;
  border-style: solid;
  background-color: currentColor;
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}

.listItem {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.listItem {
  @include flex(space-between, baseline);
}

.serviceName {
  @include text(rem(16px), 500, $MOCCA);
  @include media($SCREEN_TABLET_SMALL) {
    font-size: rem(24px);
  }
}

.priceValue {
  @include text(rem(20px), 700, $MOCCA);
  @include media($SCREEN_TABLET_SMALL) {
    font-size: rem(32px);
  }
}

.priceCurrency {
  @include text(rem(12px), 700, $MOCCA);
  @include media($SCREEN_TABLET_SMALL) {
    font-size: rem(16px);
  }
}

.instagram {
  @include flex(flex-start, center);
  @include text(rem(14px), 500, $MOCCA);
  padding-bottom: 16px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.map {
  width: 100%;
  margin: auto;
  height: 500px;
  position: relative;
  pointer-events: auto;
  @include flex(center, center);
  iframe {
    filter: invert(94%);
  }
}

.photoGrid {
  margin-bottom: 80px;
}

.photoGrid > * {
  pointer-events: auto;
}
