$SCREEN_IPHONE_5: 320px;
$SCREEN_IPHONE_6: 375px;
$SCREEN_IPHONE_PLUS: 414px;
$SCREEN_TABLET_SMALL: 600px;
$SCREEN_TABLET: 768px;
$SCREEN_TABLET_LARGE: 860px;
$SCREEN_NETBOOK: 960px;
$SCREEN_DESKTOP: 1024px;
$SCREEN_MS: 1080px;
$SCREEN_M: 1190px;
$SCREEN_L: 1280px;
$SCREEN_HD: 1366px;
$SCREEN_FULLHD: 1440px;
$SCREEN_FULLHD_L: 1660px;
$SCREEN_RETINA: 1920px;
