@import 'core';

$nav_height: 68px;

.page {
  @include flex-col;
  height: 100vh;
}

.barbers {
  flex: 0 1 calc(100% - $nav_height);
  max-height: calc(100% - $nav_height);
  @include flex-col;
  @include media($SCREEN_TABLET_LARGE) {
    flex-direction: row;
  }
}

.barber {
  flex: 0 0 50%;
  @include flex-col(space-between);
  overflow: hidden;
  position: relative;
  @include media($SCREEN_TABLET_LARGE) {
    justify-content: center;
  }
}

.isMain {
  border: 10px solid $MOCCA;
}

.isSecondary {
  border: 10px solid $SECONDARY_YELLOW;
  box-shadow: inset 5px 5px $SECONDARY_GREEN;
  & > *:first-child {
    left: 5px;
    top: 5px;
  }
}

.address {
  text-align: center;
  padding: 0 24px 24px;
  @include text(rem(15px), 500, $MOCCA);
  @include media($SCREEN_TABLET_LARGE) {
    font-size: 18px;
    position: absolute;
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.footer {
  flex: 0 0 $nav_height;
  padding: 24px;
}

.nav {
  @include flex(center, center);
}

.link {
  @include text(rem(16px), 500, $MOCCA);
  @include media($SCREEN_TABLET_LARGE) {
    font-size: 18px;
  }
  @include hover {
    color: $N0;
  }
  &:focus {
    color: $B100;
  }
}
