* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

html {
  background-color: $black;
}

body {
  background-color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
input,
button,
textarea,
select {
  font-family: $base-font;
}

.invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (max-width: 860px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    height: 100vw !important;
    left: 0;
  }
  #app {
    height: 100vw !important;
  }
  .App__view {
    height: 100vw !important;
  }
  .Services {
    overflow-y: visible;
    overflow-x: auto;
  }
  .Service {
    &__name {
      @include text(calc(100vh / 24), 600, $mocca);
      @include media($screen-tablet-large) {
        font-size: calc(100vh / 54);
      }
      @include media($screen-desktop) {
        font-size: calc(100vh / 60);
      }
    }
    &__price {
      @include text(calc(100vh / 9), 600, $mocca);
      @include media($screen-tablet-large) {
        font-size: calc(100vh / 11);
      }
      @include media($screen-desktop) {
        font-size: calc(100vh / 12);
      }
      @include media($screen-desktop-large) {
        font-size: calc(100vh / 13);
      }
      @include media($screen-hd) {
        font-size: calc(100vh / 14);
      }
      @include media($screen-fullhd) {
        font-size: calc(100vh / 15);
      }
    }
  }
}
