$dark: #222831;
$white: #ffffff;
$black: #000000;
$mocca: #E3E0D8;

/* ---FONT SIZE--- */
@function calcRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$H-PRICE: calcRem(110px);
$H94: calcRem(94px);
$H54: calcRem(54px);
$H48: calcRem(48px);
$H32: calcRem(32px);
$H30: calcRem(30px);
$H26: calcRem(26px);
$H24: calcRem(24px);
$H22: calcRem(22px);
$H20: calcRem(20px);
$H19: calcRem(19px);
$H18: calcRem(18px);
$H17: calcRem(17px);
$H16: calcRem(16px);
$H15: calcRem(15px);
$H14: calcRem(14px);
$H13: calcRem(13px);
$H12: calcRem(12px);
$H11: calcRem(11px);
$H10: calcRem(10px);
$H9: calcRem(9px);

/* Screens */
$screen-iphone-5: 320px;
$screen-iphone-6: 375px;
$screen-iphone-plus: 414px;
$screen-tablet-small: 600px;
$screen-tablet: 768px;
$screen-tablet-large: 860px;
$screen-netbook: 960px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;

// FONTS
$base-font: 'Montserrat', sans-serif;
$secondary-font: 'Oswald', sans-serif;
