* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

html {
  background-color: $MAIN_COLOR;
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
* {
  font-family: $BASE_FONT;
}

ul {
  list-style: none;
}

button,
a {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  & > div {
    position: relative;
  }
  @include media($SCREEN_TABLET) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 5px;
    grid-auto-flow: dense;
  }
}

.grid * div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.grid__item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 0;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &.square {
    padding-bottom: 100%;
  }

  &.horizontal {
    padding-bottom: 67%;

    @include media($SCREEN_TABLET) {
      grid-column: span 2;
    }
  }
  &.vertical {
    padding-bottom: 150%;
    @include media($SCREEN_TABLET) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }

  &.big {
    padding-bottom: 67%;
    @include media($SCREEN_TABLET) {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
}

[data-rmiz-modal-overlay="visible"] {
  background-color: $MAIN_COLOR;
}

[data-rmiz-modal-content="true"] {
  img {
    object-fit: contain;
    -o-object-fit: contain;
  }
}
